<h1>Sum Async</h1>

<form>
  <label for="fnumber">N1:</label><br>
  <input type="number" id="fnumber" name="fnumber"><br>
  <label for="snumber">N2:</label><br>
  <input type="number" id="snumber" name="snumber">
</form>

<button type="button" (click)="sum()">Sum</button>

<br>
<hr> 
<br>


<table>
  <tr>
    <td>Id</td>
    <td>Status</td>
    <td>Number 1</td>
    <td>Number 2</td>
    <td>Result</td>
  </tr>
  <tr *ngFor="let o of operations">
    <td>{{ o.id }}</td>
    <td>{{ o.status }}</td>
    <td>{{ o.number1 }}</td>
    <td>{{ o.number2 }}</td>
    <td>{{ o.result }}</td>
  </tr>
</table>